.item-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 1rem; /* espacio entre tarjetas */
  padding: 1rem 1rem;
  margin-right: 1rem;
  justify-items: center; /* centra las tarjetas dentro de cada celda */
  transform: translateX(10px);
  padding-left: 2px;
  background: rgb(252, 248, 248);
}

/* 🔹 Tablets (1024px o menos) → 2 columnas */
@media (max-width: 1024px) {
  .item-list-container {
    grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem; /* espacio entre tarjetas */
    padding: 1.5rem;

  }
}

/* 🔹 Móviles (480px o menos) → 1 columna */
@media (max-width: 480px) {
  .item-list-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    justify-items: center; /* centra las tarjetas dentro de cada celda */
    margin-left: -15px;
     
  }
}
