.item-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 3rem; /* espacio entre tarjetas */
  padding: 1.5rem;
  justify-items: center; /* centra las tarjetas dentro de cada celda */
}

/* 🔹 Tablets (1024px o menos) → 2 columnas */
@media (max-width: 1024px) {
  .item-list-container {
    grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem; /* espacio entre tarjetas */
    padding: 1.5rem;
  }
}

/* 🔹 Móviles (600px o menos) → 1 columna */
@media (max-width: 600px) {
  .item-list-container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
