article {
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

article img {
  width:95%;
  height: auto;
  border-radius: 0.75rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

article h1 {
  font-size: 1.2rem;
 color:#2d3731;
  margin-bottom: 0.5rem;
}

article p {
  font-size: 0.95rem;
  color: #555;
  margin: 0.25rem 0;
}

article p:first-of-type {
  font-weight: bold;
  color: #384246; /* color del precio */
}
article p span{
   color: #769001 !important;; /* color del precio */
}

@media (max-width: 480px) {
  article {
    max-width: 90%;
    padding: 0.8rem;
  }

  article h1 {
    font-size: 1.1rem;
  }

  article p {
    font-size: 0.9rem;
  }
}
