article {
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
  color:#040cf0;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

article img {
  width:95%;
  height: auto;
  border-radius: 0.75rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

article h1 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color:#555;
}

article p {
  font-size: 0.95rem;
  color:#ece9e9;
  margin: 0.25rem 0;
}

article p:first-of-type {
  font-weight: bold;
  color: #909292; /* color del precio */
}
article p span{
   color: #052d07; /* color del precio */
}
/* Contenedor de precios */
.price-section {
  margin-top: 0.5rem;
}

/* Precio original tachado */
.price-old {
  color: #a3a1a1;
  text-decoration: line-through;
  font-size: 1rem;
  margin: 0;
}

/* Precio en oferta */
.price-off {
  color: #1f1e1e !important;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.2rem 0;
}
spoiler-span {
background-image: url("../../../public/images/casio-sumergible.webp");
  color:white;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
  padding: 0.3rem 0.3rem;

}

spoiler-span:hover {
  background-color: transparent;
  color: transparent;
}

@media (max-width: 480px) {
  article {
    max-width: 90%;
    padding: 0.8rem;
  }

  article h1 {
    font-size: 1.1rem;
  }

  article p {
    font-size: 0.9rem;
  }
}
