.count-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color:rgb(243, 241, 241);
 color: #0c0c17;
 font-size: 1.2rem; font-weight: bold;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.count-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgb(123, 121, 121);
  background: rgb(240, 238, 238);
}

.count-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  background: rgb(181, 177, 177);
   color: #fff; 
    border: none;
     padding: 0.5rem 0.9rem;
      border-radius: 0.6rem;
       font-size: 1rem; 
       cursor: pointer; 
       transition: background-color 0.25s ease, 
       transform 0.2s ease; 
       outline: none !important;
        text-decoration: none !important; }
.btn:hover { 
  background-color: #fdfdfd; 
  color:#06061f; 
  border: 1px solid #050520; 
  transform: scale(1.05); }
.btn:disabled {
  background-color: #ffffff;
  color:#050520;
  border: 1px solid #050520; 
  cursor: not-allowed;
  transform: none;
}
.count-number{
  color: rgb(6, 6, 6);
  margin-top: 15px;
}
.btn-links {
  width: 250px;
 background: rgb(240, 238, 238);
 display: flex;
  justify-content:space-around;   /* Centra los botones horizontalmente */
  align-items: center;
  gap: 1.2rem;                  /* Espacio entre los botones */
  margin-top: 1.5rem;         /* Separación del contenido superior */
  flex-wrap: wrap;           /* Por si en móvil no entran, bajan uno debajo del otro */
  padding: 20px;
  border-radius: 8px;

}
.btn-links:hover{
  background-color: #c3c1c1;
}
.ir-carrito{
  width: 150%;
  background-color: #0636f5;
  color: #fdfdfd;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  margin-left: -15px;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.ir-carrito:hover{
   background-color: #fffefe;
  color:#0636f5;
  border: 1px solid #0636f5;
  transform: scale(1);

}

.ir-home{
  width: 120%;
   background-color: #8c8e8c !important;
  color: #ffffff !important;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;

}

.ir-home:hover{
   background-color: #fdfdfd !important;
  color:#0c0c0c !important;
  border: 1px solid #0c0c0c !important;
  transform: scale(1);

}

@media (max-width: 480px) {
  .count-container {
    max-width: 180px;
    padding: 0.8rem;
  }

  .btn {
    padding: 0.4rem 0.8rem;
  }

 
}
