.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color:  #fdfdfd;;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 220px;
  margin: 1rem auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.count-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.count-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.count-buttons span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff0303;
  min-width: 30px;
  text-align: center;
}

.btn {
    background-color: #04041a;
  color: #fff;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #fdfdfd;
  color:#06061f;
  border: 1px solid #050520;
  transform: scale(1.05);
}

.btn:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
  transform: none;
}
.ir-carrito{
   background-color: #fb0303;
  color: #fdfdfd;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;
}
.ir-carrito:hover{
   background-color: #fffefe;
  color:#fb0505;
  border: 1px solid #f90303;
  transform: scale(1.05);
 transform: translateY(-2px);
}
.btn-links {
  display: flex;
  justify-content: center;   /* Centra los botones horizontalmente */
  align-items: center;
  gap: 1rem;                  /* Espacio entre los botones */
  margin-top: 1.5rem;         /* Separación del contenido superior */
  flex-wrap: wrap;            /* Por si en móvil no entran, bajan uno debajo del otro */
  padding: 20px;
  border-radius: 8px;
}
.btn-links:hover{
  background-color: #e3e0e0;
}
.ir-home{
   background-color: #62ed06 !important;
  color: #0c0c0c !important;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.2s ease;
}
.ir-home:hover{
   background-color: #fdfdfd !important;
  color:#0c0c0c  !important;
  border: 1px solid #0c0c0c !important;
  transform: scale(1.05);
 transform: translateY(-2px);
}

@media (max-width: 480px) {
  .count-container {
    max-width: 180px;
    padding: 0.8rem;
  }

  .btn {
    padding: 0.4rem 0.8rem;
  }

 
}
