.footer {
  width: 95%;
  background-color:rgb(226, 225, 230);
  color: #5d5d5d;
  padding: 2rem 1.5rem 1rem 1.5rem;
  font-family: sans-serif;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.85rem;
  color:#595858;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
