/* Contenedor general */
.search-results-section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.links-searchList{
  text-decoration: none;outline: none;
}

/* GRID DE PRODUCTOS */
.product-grid {
 /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5px;*/
   display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 1rem; /* espacio entre tarjetas */

}
/* Mensaje sin resultados */
.no-results {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  color: #777;
}

@media (max-width:900px){
/* GRID DE PRODUCTOS */
.product-grid {
   display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 columnas iguales */
  gap: 1rem; /* espacio entre tarjetas */
}
}
@media (max-width:480px){
/* GRID DE PRODUCTOS */
.product-grid {
 display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5px;


}
}
