#root {
  max-width: 1310px;
 margin: 0 0px;
 margin-left: 20px;
  padding: 2rem;
  text-align: center;
 
}

@media (prefers-reduced-motion: no-preference) {
 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
