#root {
  max-width: 1280px;
  margin: 0 50px;
  padding: 2rem;
  text-align: center;
 
}


@media (prefers-reduced-motion: no-preference) {
 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
