
nav{
  width: 100%;
  background-color: #62ed06;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content:space-between;
  padding:0;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  flex-wrap: wrap;
}

nav li {
  position: relative;
  transition: transform 0.2s ease;
}

nav li:hover {
  transform: translateY(-3px);
}

nav a {
  text-decoration: none;
   color:#134609;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0a0a;
  color: white;
  padding: 0.8rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logo-img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  transition: transform 0.3s ease;
  padding-top: 0.2rem;
}

.logo-img:hover {
  transform: scale(3);
}

.logo-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: #134609;;
}

.logo-text:hover {
 font-size: 1.4rem;
  font-weight: 700;
   background-color: rgb(3, 36, 9);
  color: rgb(253, 253, 253) !important;
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  transform: translateY(-3px);
   
}


nav ul li {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
nav ul li a {
  color: rgb(3, 36, 9) !important;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  background-color: rgb(3, 36, 9);
  color: rgb(253, 253, 253) !important;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}


/* Burbuja del carrito */
nav li span {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: #e63946;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 18px;
  text-align: center;
}

/* Responsive */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 0.8rem;
  }

  nav li {
    position: static;
  }

  nav li span {
    position: static;
    margin-left: 0.4rem;
    background-color: #e63946;
    border-radius: 0.4rem;
  }
}

