
nav{
  width: 95%;
  background-color:rgb(226, 225, 230);
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content:space-between;

}

.span-logo{
  font-size: 1.5rem;
 color: #575656;

}
.span-logo:hover{
  font-size: 1.5rem;
  color: #080842  !important;
  
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  flex-wrap: wrap;
}

nav li {
  position: relative;
  transition: transform 0.2s ease;
}

nav li:hover {
  transform: translateY(-3px)
}
/*nav a {

}*/

nav ul li {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
nav ul li a {
  color: #575656;
  text-decoration: none;

  transition: color 0.3s;
    padding:0.3rem 0.5rem;
  border-radius:8px;
}

nav ul li a:hover {
  background-color: rgb(255, 255, 255);
  color: #6f6f72;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}


/* Burbuja del carrito */
nav li span {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: #e63946;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 18px;
  text-align: center;
}

.link-span-logo{
  text-decoration: none;
  outline: none;
}









/* Responsive */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 0.8rem;
  }

  nav li {
    position: static;
  }

  nav li span {
    position: static;
    margin-left: 0.4rem;
    background-color: #e63946;
    border-radius: 0.4rem;
  }
}

