
nav{
  width: 100%;
  background-color:rgb(226, 225, 230);
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content:space-between;
}


.cart-container {
  width: 20%;
  position: relative;
}

.cart-container .nav-link {
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
  margin-left: 50px;
  transition: transform 0.2s;
}

.cart-container .nav-link:hover {
  transform: scale(1.1);
}

.cart-count {
  position: absolute;
  top: -6px;
  right: 40px;
  background-color: crimson;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 7px;
  line-height: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/*form buscar*/
form{
  
  height: 0;
}
.div-form {
  display: flex;
  justify-content: space-around;
  transform: translateY(-18px);
}
form[role="search"] input {
  width: 400px; /* o el tamaño que quieras */
  border-radius: 8px;
}

form[role="search"] button {
  padding: 4px 10px;
  font-size: 0.9rem;
  border-radius: 6px;
}

/* Responsive */
@media (max-width: 480px) {

.cart-container {
  width: 20%;
  position: relative;
}

.cart-container .nav-link {
   position: absolute;
  top: 6px;
  left: 200px;
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
  margin-left: 15px;
  transition: transform 0.2s;
}

.cart-container .nav-link:hover {
  transform: scale(1.1);
}

.cart-count {
  position: absolute;
  top: 1px;
  right: 50px;
  background-color: crimson;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 7px;
  line-height: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

}

