.btn-item {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 10px;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
 background:#aeadad;
  color: #fdfdfd;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-item:hover {
  background:white !important;
 color: #091142 !important;
  border: 1px solid  #070c2a !important;
  font-weight: bold;
  transform: scale(1.05);
  
}
.links-itemList{
  text-decoration: none;outline: none;
}