.btn-item {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
   background-color: #769001 !important;
  color:#ffffff !important;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-item:hover {
  background-color: #fdfdfd !important;
  color: #769001 !important;
  border: 1px solid  #769001 !important;
  font-weight: bold;
  transform: scale(1.05);
  
}